.mode-container {
  text-align: center;
}

.mode-title {
  color: rgba(255,255,255,0.75);

  font-size: 1.5rem;

  margin-bottom: 35px;
}

.mode-card-container {
  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;
}

.mode-card {
  width: 280px;

  background: #111827;

  border: 1px solid rgba(255,255,255,0.06);

  border-radius: 20px;

  padding: 35px 25px;

  cursor: pointer;

  transition: all 0.25s ease;
}

.mode-card:hover {
  transform: translateY(-5px);

  border-color: #6366F1;

  box-shadow:
    0 0 25px rgba(99,102,241,0.15);
}

.mode-icon {
  font-size: 3rem;

  color: #6366F1;

  margin-bottom: 20px;
}

.mode-card h4 {
  color: white;

  font-size: 1.3rem;

  margin-bottom: 12px;
}

.mode-card p {
  color: rgba(255,255,255,0.7);

  line-height: 1.6;
}